<!DOCTYPE html>
<html>
  <head>
    <title>Print_My_Ride</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
  </head>

  <body>
    <header>
      <div class="logo">
        <h1>print my ride</h1>
      </div>
      <div class="search">
        <%= form_tag("/cads?search=#{params[:search_term]}", method: :get) do %>
          <input type="text" name="search_term" placeholder="search">
          <button>search</button>
        <% end %>
      </div>
      <div class="new-job">
        <a href="/job/new">create a new job?</a>
      </div>
      <% if !logged_in? %>
        <%= form_tag('/session/new', method: :get) do %>
          <div class="sign-in">
            <label>email</label>
            <input type="text" name="email">
            <label>password</label>
            <input type="password" name="password">
            <button>log in</button>
          </div>
        <% end %>
      <% end %>
      <% if logged_in? %>
        <div class="login-status">
          logged in as <%= User.find(session[:user_id]).email %>
        </div>
        <a href="/session/destroy">logout</a>

        <nav>
          <% if logged_in? %>
            <a href="#"><div>
              dash
            </div></a>
            <% if creator? %>
              <a href="#"><div>on-going</div></a>
              <a href=""><div>designs</div></a>
            <% end %>
            <a href="#"><div></div></a>
          <% end %>
        </nav>
      <% end %>



    </header>

    <%= yield %>

  </body>
</html>
